#UserInfo__div__user-info {
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
}

#UserInfo__div__user-name {
    margin-right: 10%;
}