#AddTodoForm__form__todo-form {
    display: flex;
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
    align-self: center;
}

.AddTodoForm__form__todo-input {
    flex: 1;
    height: 30px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.AddTodoForm__form__todo-btn {
    height: 30px;
    width: 120px;
    margin-left: 8px;
    padding: 4px 4px;
    background-color: #007bffd1;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    cursor: pointer;
}

.AddTodoForm__form__todo-btn:disabled {
    cursor: not-allowed;
    background-color: #007bff70;
}

.AddCategory__form__todo-btn:hover,
.AddCategory__form__todo-btn:focus {
    background-color: #007bff;
}