#Tab__ul__tab {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5px;
    cursor: pointer;
}

.Tab__ul__item {
    list-style: none;
    width: 120px;
    display: flex;
    justify-content: space-around;
}

.Tab__ul__item-active {
    background-color: #dbdbdb;
}