#CategoryList__ul__category-list {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}

.CategoryList__ul__category-list-item {
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.CategoryList__ul__category-list-item:hover {
    background-color: #DBDBDB;
}

.CategoryList__ul__delete-icon {
    
}

.CategoryList__ul__category-label {
    flex-grow: 1;
    margin-left: 20%;
    margin-right: 20%;
}

.CategoryList__ul__category-count {
    right: 20px;
}

